$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-green-1: #99E2D0;
$colour-green-2: #008766;
$colour-grey-1: #EAEAEA;
$colour-grey-2: #F6F6F6;
$colour-grey-3: #7E7E7E;
$linear-gradient: linear-gradient(175deg, $colour-secondary, $colour-primary);
$box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
$font-family-logo-title: Shrikhand, Arial, Helvetica, sans-serif;
$font-family-text: Roboto, Arial, Helvetica, sans-serif;