.header{
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    &_back-home{
        position: absolute;
        left: 20px;
    }
}